doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Portfolio of Anudeep Tubati (aka NeuralFlux)')
        meta(name='author', content='Anudeep Tubati')

        title NeuralFlux

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.4/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')
        link(href='assets/font_mfizz/font-mfizz.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Anudeep Tubati
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Anudeep 
                        span.text-primary Tubati
                    .subheading.mb-5
                        | BTech Graduate (Computer Science), IIT Dharwad, India
                        br
                        | Software Development Engineer at ABB
                        br
                        a(href='mailto:') anudeep [dot] tumati99 [at] gmail [dot] com
                    p.lead.mb-5
                        | I love to explore reinforcement learning, human psychology, and developing solutions that have a positive impact on humankind! Oh, and I also maintain a blog #[a(href='/blog') here]
                        br
                        br
                        | #[strong What would I do if I had the power to change #[u one ] global policy?]
                        br
                        | I would create policies that aid in the holistic development of children right from elementary school. How exactly? By imparting education about life, mental health, and being human. I firmly believe this would directly tackle numerous problems in today's world at their roots.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/anudeep-tubati/', target="_blank")
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/NeuralFlux', target="_blank")
                            i.fab.fa-github

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Development Engineer
                            .subheading.mb-3 ABB (Bangalore, India)
                            p
                                | Joined with a goal to learn scalable backend frameworks and core software principles that aid in delivering AI solutions
                            p
                                | Developing ABB Genix apps with efficient backend and frontend technologies like .NET and Angular while inculcating Agile and robust DevOps principles
                            p
                                | Soft skills learned: polite yet assertive communication
                        .flex-shrink-0
                            span.text-primary July 2021 &mdash; Present
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Teaching Assistant
                            .subheading.mb-3 Openstack and Cloud Computing (IIT Dharwad, co-op with Broadridge India)
                            p
                                | Assisted with workshops aimed to equip the users with the knowledge of private and service-based cloud computing (Openstack, AWS, GCP, Azure)
                            p
                                | Effectively solved queries by showing demos and, additionally, designed assignments for thorough understanding of the topic
                            p
                                | Soft skills learned: clear and effective communication
                        .flex-shrink-0
                            span.text-primary Sep 2020 &mdash; Oct 2020
            
            // Projects
            section#projects.resume-section
               .resume-section-content
                    h2.mb-5 Projects

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Malware Classifier
                            .subheading.mb-3 Research Project in Static Malware Detection (IIT Dharwad)
                            p
                                | Developed an end-to-end malware-classifying pipeline that models operand-dependent opcodes rather than plain opcodes used by previous static-analysis algorithms. #[strong (Acc. 94% &rarr; 97%)]
                            p
                                | Employed feature engineering techniques to improve ML models based on standard algorithms like Naive Bayes and Logistic Regression
                            p
                                | #[strong Collected a dataset of 50k benign samples] by innovatively tackling the copyright hinderance; working towards publishing the novelty and the dataset
                                <br>
                                | #[i side note:] to the best of our knowledge, such a massive collection of benign samples does not exist yet. Therefore, #[strong we intend to establish a yardstick for the whole domain]
                            p
                                | Soft skills learned: planning research, software documentation
                                
                        .flex-shrink-0
                            span.text-primary Mar &mdash; Apr 2021, June, Ongoing

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Retro-game-playing Bots
                            .subheading.mb-3 Reinforcement Learning
                            p
                                | Extensively used PyTorch to develop RL bots for Tetris, Pong, Snake, and a few more Atari games that achieved admirable performance
                            p
                                | Implemented various evolutionary and deep reinforcement algorithms like CEM, DQN, and A2C
                            p
                                | Analysed state-of-the-art algorithms like AlphaGo, Rainbow DQN, and MuZero
                            p
                                | (Open-source) Published all implementations and the report with a summary of each key family of algorithms to aid in quick bootstrapping of fellow RL followers
                            p
                                | Soft skills learned: planning research
                            a.subheading.demo-links.social-icon(href='https://github.com/NeuralFlux/rl-analysis', target="_blank")
                                i.fab.fa-github
                                | Code
                            a.subheading.demo-links.social-icon.ms-4(href='https://github.com/NeuralFlux/rl-analysis/blob/main/Report.pdf', target="_blank")
                                i.fas.fa-file-alt
                                | Report
                            a.subheading.demo-links.social-icon.ms-4(href='https://youtube.com/playlist?list=PLqVCv7NZInG8dRMC3dLsfN4ulAbx23qa5', target="_blank")
                                i.fab.fa-youtube
                                | Demo
                        .flex-shrink-0
                            span.text-primary Aug 2020 &mdash; Dec 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Automated Essay Grader
                            .subheading.mb-3 Natural Language Processing
                            p
                                | Analyzed ML and DL based approaches to NLP; algorithms like Naive Bayes, SVM and LSTM coupled with strategies like CBOW, Skip-gram, and TF-IDF
                            p
                                | Analyzed and used BERT to obtain encodings that were fed to a shallow Neural Net; achieved a #[strong Quadratic Weighted Kappa of 0.77] on the Kaggle AES Dataset #[strong (highest in the competition being 0.81)]
                        .flex-shrink-0
                            span.text-primary Mar 2020 &mdash; Jun 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Robust Facial Recognition for Real-world Applications
                            .subheading.mb-3 C-DAC Nvidia AI Hackathon (2019)
                            p
                                | Innovated upon various DL pipeline architectures to overcome natural constraints like rotation, occlusion, and blurring while processing real-life surveillance data
                            p
                                | Analyzed popular literature like YOLOv3, De-blur GAN, Facenet, and DREAM layer to understand their behaviour and ultimately integrate them together
                            p
                                | Achieved a test accuracy of #[strong 73%] on the #[strong Indian Movie Face Dataset] to finish in the #[strong Top 30 teams in India] (sidenote: the model performed better on higher-res datasets)
                            a.subheading.demo-links.social-icon(href='https://svp19.github.io/face-recognition-demo/', target="_blank")
                                i.fab.fa-youtube
                                | Demo
                        .flex-shrink-0
                            span.text-primary Aug 2019 &mdash; Oct 2019
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-3 Other Notable Projects
                            .subheading.mb-1 Now We See You (Jan 2019)
                            p
                                | Implemented an automated attendance tracking system based on landmark facial recognition using OpenCV Python and served it with a django backend
                            p
                                | Our team finished 2nd in the hackathon and was selected to present the idea to Mr. N. R. Narayana Murthy (founder, Infosys)
                            a.subheading.demo-links.social-icon(href='https://github.com/deepakhr1999/NowWeSeeYou', target="_blank")
                                i.fab.fa-github
                                | Code
                            <br>
                            <br>
                            .subheading.mb-1 EasyPrint (Oct 2018 &mdash; Jan 2019)
                            p
                                | Developed an online portal using django to facilitate on-the-move wireless printing in college. It was the only course project to be actually proposed to be put in production in college (out of 20)
                            a.subheading.demo-links.social-icon(href='https://github.com/svp19/EasyPrint', target="_blank")
                                i.fab.fa-github
                                | Code

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Indian Institute of Technology Dharwad
                            .subheading.mb-3 Bachelor of Technology in Computer Science and Engineering
                            p Overall CGPA: 8.62 (out of 10)
                            | Major CGPA: 9.03
                        .flex-shrink-0
                            span.text-primary Jul 2017 &mdash; Jun 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Narayana Junior College
                            .subheading.mb-3 12th Grade
                            div Math, Physics, and Chemistry
                            p Percentage: 97.1%
                        .flex-shrink-0
                            span.text-primary Jul 2015 &mdash; Apr 2017
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 St. Andrew's School
                            .subheading.mb-3 10th Grade
                            p CGPA: 9.4 (out of 10)
                        .flex-shrink-0
                            span.text-primary Graduated Apr 2015

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            i.icon-cplusplus
                        li.list-inline-item
                            i.fab.fa-github
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-aws
                        li.list-inline-item
                            i.fab.fa-php
                        li.list-inline-item
                            i.fab.fa-angular
                        li.list-inline-item
                            i.fab.fa-java
                    .subheading.mb-3 Libraries
                    ul.fa-ul.mb-0
                        li #[strong Most Used] &mdash; NumPy, pandas, PyTorch, django
                        li #[strong Familiar] &mdash; TensorFlow, Radare2, seaborn, sklearn
                    
                    p.mt-5 I can fluently converse in English, Telugu, and Hindi!

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Achievements
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | #[strong 2nd Runners-up, India Region] Embedded Security Challenge, CSAW 2019; organized at IIT Kanpur by New York University
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | #[strong 25th all over India] C-DAC Nvidia AI Hackathon 2019
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | #[strong Top 5 in IIT Dharwad] for the Youth Delegation Programme 2019, organized by the Ministry of Youth Affairs and Sports
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | #[strong Top 3.1% in India] JEE Advanced 2017

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
